# Database Connection (Used in db.js)
DATABASE_URL=postgresql://user:password@host:5432/dbname
DATABASE_SSL=false

# Auth token signing secret (Used in token.js)
AUTH_TOKEN_SECRET=your-secret-here

# Default Institution Name (Used in auth.js)
DEFAULT_SCHOOL_NAME=San Francisco State University
# Server Port (Used in server.js)
PORT=3001